@import "./global.scss";

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $lightMode-lightGrey;

    .container {
        width: 730px;
        height: 586px;
    }
}
