@import "../styles/global.scss";
.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: $h1_font_family;
        font-size: h1_font_size;
        font-weight: $h1_font_weight;
        line-height: $h1_line_height;
    }

    .themeSwapper {
        display: flex;

        img {
            height: 20px;
            width: 20px;
            margin-left: 16px;
        }

        h4 {
            font-family: $h4_font_family;
            font-size: h4_font_size;
            font-weight: $h4_font_weight;
            line-height: $h4_line_height;
            letter-spacing: 2.5px;
        }
    }
}
