@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

//light mode
$lightMode-skyBlue: #0079ff;
$lightMode-lightGrey: #697c9a;
$lightMode-greyBlue: #4b6a9b;
$lightMode-darkGrey: #2b3442;
$lightMode-lightWhiteGrey: #f6f8ff;
$lightMode-offWhite: #fefefe;

//dark mode
$darkMode-skyBlue: #0079ff;
$darkMode-white: #ffffff;
$darkMode-darkGrey: #141d2f;
$darkMode-darkBlue: #1e2a47;

$h1_font_family: "Space Mono", monospace;
$h1_font_size: 26px;
$h1_font_weight: 700;
$h1_line_height: 35px;

$h2_font_family: "Space Mono", monospace;
$h2_font_size: 22px;
$h2_font_weight: 700;
$h2_line_height: 33px;

$h3_font_family: "Space Mono", monospace;
$h3_font_size: 16px;
$h3_font_weight: 400;
$h3_line_height: 24px;

$h4_font_family: "Space Mono", monospace;
$h4_font_size: 13px;
$h4_font_weight: 400;
$h4_line_height: 20px;

$body_font_family: "Space Mono", monospace;
$body_font_size: 15px;
$body_font_weight: 400;
$body_line_height: 25px;
